In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/automobileEDA.csv")
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [3]:
X = df[['horsepower', 'curb-weight', 'engine-size', 'highway-mpg']]
y = df['price']

In [4]:
# import thư viện
from sklearn.linear_model import LinearRegression

In [5]:
# khởi tạo model
model = LinearRegression()

In [6]:
# huấn luyện model với toàn bộ dữ liệu
model.fit(X, y)

LinearRegression()

In [7]:
# import thư viện cross validation
from sklearn.model_selection import cross_val_score

In [8]:
R_cross = cross_val_score(model, X, y, cv=4)

In [9]:
R_cross

array([0.84466574, 0.7858922 , 0.56412244, 0.46368952])

In [10]:
print('Mean of R-squared', R_cross.mean(), ' and std of R-squared', R_cross.std())

Mean of R-squared 0.664592473929481  and std of R-squared 0.15620197700259458

In [11]:
MSE_cross = -1 * cross_val_score(model, X, y, cv=4, scoring='neg_mean_squared_error')

In [12]:
MSE_cross

array([13959566.23844554, 19398526.38171373, 21676859.48501081,
        9897653.26930767])

In [13]:
print('Mean of MSE_cross', MSE_cross.mean(), ' and std of MSE_cross', MSE_cross.std())

Mean of MSE_cross 16233151.343619436  and std of MSE_cross 4608722.234538492