In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/ds_nhanvien.csv')
df

  Hoten Gioitinh   Vitri   Noisinh
0   NVA      Nam   first    Tp.HCM
1  LTVB       Nu   third  Dong Nai
2   NVC      Nam  second   Long An

In [6]:
df_new = pd.get_dummies(data=df, columns=['Noisinh'], prefix='N')

In [7]:
df_new

  Hoten Gioitinh   Vitri  N_Dong Nai  N_Long An  N_Tp.HCM
0   NVA      Nam   first           0          0         1
1  LTVB       Nu   third           1          0         0
2   NVC      Nam  second           0          1         0

In [8]:
df_new2 = pd.get_dummies(data=df, columns=['Gioitinh', 'Noisinh'], prefix='d')

In [9]:
df_new2

  Hoten   Vitri  d_Nam  d_Nu  d_Dong Nai  d_Long An  d_Tp.HCM
0   NVA   first      1     0           0          0         1
1  LTVB   third      0     1           1          0         0
2   NVC  second      1     0           0          1         0

In [10]:
df_new3 = pd.get_dummies(data=df, columns=['Gioitinh', 'Noisinh'], prefix='d', drop_first=True)

In [11]:
df_new3

  Hoten   Vitri  d_Nu  d_Long An  d_Tp.HCM
0   NVA   first     0          0         1
1  LTVB   third     1          0         0
2   NVC  second     0          1         0