In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/ds_nhanvien.csv')
df

  Hoten Gioitinh   Vitri   Noisinh
0   NVA      Nam   first    Tp.HCM
1  LTVB       Nu   third  Dong Nai
2   NVC      Nam  second   Long An

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
encoder = OneHotEncoder()

In [6]:
arr = encoder.fit_transform(df[['Noisinh']])

In [9]:
arr = arr.toarray()

In [11]:
df_temp = pd.DataFrame(arr, columns=['Dong Nai', 'Long An', 'Tp.HCM'])
df_temp

   Dong Nai  Long An  Tp.HCM
0       0.0      0.0     1.0
1       1.0      0.0     0.0
2       0.0      1.0     0.0

In [12]:
df_new = pd.concat([df, df_temp], axis=1)
df_new

  Hoten Gioitinh   Vitri   Noisinh  Dong Nai  Long An  Tp.HCM
0   NVA      Nam   first    Tp.HCM       0.0      0.0     1.0
1  LTVB       Nu   third  Dong Nai       1.0      0.0     0.0
2   NVC      Nam  second   Long An       0.0      1.0     0.0

In [13]:
df_new['NoiSinh_decode'] = encoder.inverse_transform(df_new[['Dong Nai', 'Long An', 'Tp.HCM']])

In [14]:
df_new

  Hoten Gioitinh   Vitri   Noisinh  Dong Nai  Long An  Tp.HCM NoiSinh_decode
0   NVA      Nam   first    Tp.HCM       0.0      0.0     1.0         Tp.HCM
1  LTVB       Nu   third  Dong Nai       1.0      0.0     0.0       Dong Nai
2   NVC      Nam  second   Long An       0.0      1.0     0.0        Long An

In [16]:
encoder.categories_[0]

array(['Dong Nai', 'Long An', 'Tp.HCM'], dtype=object)

In [17]:
df_temp2 = pd.DataFrame(arr, columns=['N_' + i for i in encoder.categories_[0]])
df_temp2

   N_Dong Nai  N_Long An  N_Tp.HCM
0         0.0        0.0       1.0
1         1.0        0.0       0.0
2         0.0        1.0       0.0

In [18]:
df_new2 = pd.concat([df, df_temp2], axis=1)
df_new2

  Hoten Gioitinh   Vitri   Noisinh  N_Dong Nai  N_Long An  N_Tp.HCM
0   NVA      Nam   first    Tp.HCM         0.0        0.0       1.0
1  LTVB       Nu   third  Dong Nai         1.0        0.0       0.0
2   NVC      Nam  second   Long An         0.0        1.0       0.0

In [19]:
df_new2.drop(['Noisinh', 'N_Dong Nai'], axis=1, inplace=True)
df_new2

  Hoten Gioitinh   Vitri  N_Long An  N_Tp.HCM
0   NVA      Nam   first        0.0       1.0
1  LTVB       Nu   third        0.0       0.0
2   NVC      Nam  second        1.0       0.0

In [20]:
# encoder có sử dụng drop

In [21]:
encoder2 = OneHotEncoder(drop='first')

In [22]:
arr2 = encoder2.fit_transform(df[['Noisinh']]).toarray()

In [23]:
arr2

array([[0., 1.],
       [0., 0.],
       [1., 0.]])

In [25]:
encoder2.categories_[0]

array(['Dong Nai', 'Long An', 'Tp.HCM'], dtype=object)

In [26]:
df_temp3 = pd.DataFrame(arr2, columns=['N_' + i for i in encoder2.categories_[0][1:]])
df_temp3

   N_Long An  N_Tp.HCM
0        0.0       1.0
1        0.0       0.0
2        1.0       0.0

In [27]:
df_new3 = pd.concat([df, df_temp3], axis=1)
df_new3

  Hoten Gioitinh   Vitri   Noisinh  N_Long An  N_Tp.HCM
0   NVA      Nam   first    Tp.HCM        0.0       1.0
1  LTVB       Nu   third  Dong Nai        0.0       0.0
2   NVC      Nam  second   Long An        1.0       0.0

In [29]:
df_new3['Noisinh_decode'] = encoder2.inverse_transform(df_new3[['N_Long An', 'N_Tp.HCM']])

In [30]:
df_new3

  Hoten Gioitinh   Vitri   Noisinh  N_Long An  N_Tp.HCM Noisinh_decode
0   NVA      Nam   first    Tp.HCM        0.0       1.0         Tp.HCM
1  LTVB       Nu   third  Dong Nai        0.0       0.0       Dong Nai
2   NVC      Nam  second   Long An        1.0       0.0        Long An